<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-md-2">
      лого
    </div>
    <div class="col-md-7">
      <span>111</span>
    </div>
    <div class="col-md-3">
      222
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-4">
      <kendo-grid [data]="data" [height]="410">
        <kendo-grid-column field="date" title="date" width="100">
        </kendo-grid-column>
        <kendo-grid-column field="temperatureC" title="C" width="50">
        </kendo-grid-column>
        <kendo-grid-column field="temperatureF" title="F" width="50">
        </kendo-grid-column>
        <kendo-grid-column field="summary" title="Итого" width="100">
        </kendo-grid-column>
      </kendo-grid>
    </div>
    <div class="col-md-4">
      <button class="k-icon k-i-gear" (click)="show()" style="width: 160px; height: 30px">Уведомлялки</button>&nbsp;
      <button kendoButton (click)="onAlert()" [primary]="true">alert</button>&nbsp;
      <kendo-switch [(ngModel)]="checked"></kendo-switch>&nbsp;
      <br>
      <button kendoButton (click)="testGet()">GET</button>&nbsp;
      <button kendoButton (click)="testPost()">POST</button>&nbsp;
      <button kendoButton (click)="testNDarray()">NDarray</button>&nbsp;
      <br>
      <button kendoButton (click)="init()" [primary]="true">Инициализировать нейросеть</button>&nbsp;
      <button kendoButton (click)="predict()">Предсказать XOR для: </button>
      <input type="text" [(ngModel)]="x" style="width: 20px" />
      <input type="text" [(ngModel)]="y" style="width: 20px" />
      &nbsp;
    </div>
    <div class="col-md-4">
      <kendo-grid [data]="gridData" [height]="410">
      <kendo-grid-column field="ProductID" title="ID" width="40">
      </kendo-grid-column>
      <kendo-grid-column field="ProductName" title="Name" width="250">
      </kendo-grid-column>
      <kendo-grid-column field="Category.CategoryName" title="Category">
      </kendo-grid-column>
      <kendo-grid-column field="UnitPrice" title="Price" width="80">
      </kendo-grid-column>
      <kendo-grid-column field="UnitsInStock" title="In stock" width="80">
      </kendo-grid-column>
      <kendo-grid-column field="Discontinued" title="Discontinued" width="120">
        <ng-template kendoGridCellTemplate let-dataItem>
          <input type="checkbox" [checked]="dataItem.Discontinued" disabled />
        </ng-template>
      </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</div>
